/*GENERAL STUFF*/
img {
  width: auto;
  width: 100%;
  display: block;
}

iframe {
  width: 600px;
  height: 400px;
}

main {
  margin-bottom: 115px;
}

.logo img {
  margin-bottom: 22px;
  margin-left: 12px;
  height: 60px;
}

.logo_footer {
  width: 60px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 14%;
}
.footer_left {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

p,
ul li,
a {
  font-family: "Patrick Hand", cursive;
  font-size: 20px;
  margin-top: 8px;
  text-decoration: none;
  margin-left: 8px;
  line-height: 1.5;
}

.frontpage_me img {
  width: 87%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2 {
  font-family: "Titan One", sans-serif;
  color: #fdb731;
  font-weight: 200;
}

h1 {
  color: white;
}

h3 {
  font-family: "Sue Ellen Francisco";
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  margin: 25px 0 0 0;
}

.project {
  margin: 10px;
  background-color: white;
  border-style: groove;
}
.links_to_projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.links_to_projects a {
  color: black;
  background-color: #fdb731;
  text-align: center;
  border-radius: 7px;
  padding: 5px;
}
.links_to_projects a:hover {
  color: white;
}

.nav-list a:hover {
  color: #fdb731;
  text-decoration: underline;
}
.nav-footer a:hover {
  color: white;
}

.date_subject p {
  color: grey;
  font-size: 18px;
  margin: 0;
}

.education_name p {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.grid_programs p {
  background-color: #fdb731;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 160px;
  margin: 0;
}

.yellow_grid {
  background-color: #fdb731;
  padding: 15px 0 0 0;
}

.white_grid {
  background-color: white;
  padding: 15px;
}

.grid_all {
  border: 1px solid black;
}

.introduction {
  padding: 25px;
}

/*FOOTER*/

footer {
  background-color: #b45b27;
  margin-top: 170px;
  padding: 20px;
}
.footer_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 130px;
  margin-left: 50px;
  padding: 15px;
  gap: 8px;
}
footer ul {
  margin-left: auto;
}
footer a li {
  color: white;
}

/*SCROLL TO TOP*/
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 70px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #fdb731; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 25px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

@media only screen and (min-width: 868px) {
  .project,
  .introduction {
    margin-left: 13%;
    margin-right: 13%;
  }
  .nav-footer {
    font-size: 25px;
    display: flex;
  }
}
