/*GENERAL STUFF*/
img {
  width: auto;
  width: 100%;
  display: block;
}

p,
ul li {
  font-family: "Patrick Hand", cursive;
  font-size: 18px;
  margin-top: 8px;
}

h1,
h2 {
  font-family: "Titan One", sans-serif;
}

main {
  margin: 20px;
}

.date_subject p {
  color: grey;
  font-size: 14px;
  margin: 0;
}

.education_name p {
  margin: 0 0 15px 0;
  font-size: 24px;
}

.grid_programs p {
  background-color: #fdb731;
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  width: 150px;
  margin: 0;
}

.yellow_grid {
  background-color: #fdb731;
  padding: 15px 0 0 0;
}

.white_grid {
  background-color: white;
  padding: 15px;
}

.grid_all {
  border: 1px solid black;
}
